@view-transition {
    navigation: auto;
}

* {
    font-family: "Charis SIL", serif;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin-top: 4em;
}

div.box {
    background-color: lightblue;
    width: 80%;
    border-radius: 2em;
    padding: 1em;
}
iframe {
    display: block;
    min-width: 30em;
    min-height: 20em;
    border: 0;
}


div.title {

    display: flex;
    align-items: baseline;
}
div.origin-title {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid black;
}

p.internet-title {
    font-size: 4em;
    padding: 0;
    margin: 0;
    text-align: center;
}

p.internet-subtitle {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    text-align: center;
}